.root :global {
	width: 1560px;
	margin: 0 auto 20px;
	padding: 0 20px;

	.form {
		font-size: 24px;
		.error {
			font-size: 22px;

			display: flex;

			width: 650px;
			margin: 0 0 35px;
			padding: 10px 0;

			text-align: center;

			color: #fff;
			border-color: #d63434;
			border-radius: 4px;
			background-color: #d63434;

			justify-content: center;
		}

		.wrap {
			display: flex;

			width: 650px;
			height: 50px;
			margin: 10px 0;

			flex-wrap: wrap;
			.fieldName {
				display: flex;

				width: 240px;
				padding-right: 15px;

				justify-content: flex-end;
				align-items: center;
			}
			.field {
				display: flex;

				width: 395px;

				align-items: center;
			}
			.select {
				min-width: 395px;
			}
			.input {
				input {
					font-size: 24px;

					width: 100%;
					height: 42px;
					padding-left: 10px;

					text-align: left;

					border-width: 1px;
					border-style: solid;
					border-color: hsl(0, 0%, 80%);
					border-radius: 4px;
					background-color: hsl(0, 0%, 100%);
					&:focus {
						height: 38px;

						border-width: 2px;
						border-color: hsl(213, 100%, 64%);
						outline: none;
					}
				}
			}
			.errorInput input {
				border: 1px solid #d63434;
			}
			.checkbox {
				width: 28px;
				height: 28px;

				cursor: pointer;

				color: #fff;
				border: none;
				outline: none;
				background: #cbd1d8;

				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance: none;
				&:hover {
					background: #9faab7;
				}
				&:checked {
					background: #30804f;
				}
				&:checked::before {
					font-size: 24px;
					line-height: 28px;

					position: absolute;

					display: inline-block;

					width: 28px;
					height: 28px;

					content: "✔";
					text-align: center;
				}
			}
		}
		.footer {
			display: flex;

			width: 650px;
			height: 100px;
			margin: 30px 0 0;

			background: hsl(0, 0%, 97%);

			justify-content: flex-end;
			align-items: center;

			.button {
				font-size: 22px;

				display: flex;

				height: 50px;
				margin: 0 20px 0;
				padding: 10px;

				color: #fff;
				border: 1px solid #30804f;
				border-radius: 4px;
				background-color: #30804f;
				box-shadow: 2px 4px 6px 0 hsla(0, 0%, 0%, 0.2);

				align-items: center;
				&:hover {
					cursor: pointer;

					color: #30804f;
					background-color: #fff;
				}
			}

			.gray {
				height: 30px;

				color: #c5c5c5;
				border: 1px solid #c5c5c5;
				border-radius: 4px;
				background-color: #fff;
				&:hover {
					color: #fff;
					background-color: #c5c5c5;
				}
			}
		}
	}

	@media screen and (max-width: 1620px) {
		width: 1140px;
	}

	@media screen and (max-width: 1220px) {
		width: 960px;

		.form {
			font-size: 22px;
			.error {
				width: 600px;
			}

			.wrap {
				width: 600px;

				flex-wrap: wrap;
				.input {
					input {
						height: 39px;
						font-size: 22px;
					}
				}
				.fieldName {
					width: 220px;
				}
				.field {
					display: flex;

					width: 365px;

					align-items: center;
					.select {
						min-width: 365px;
					}
				}

				.checkbox {
					width: 24px;
					height: 24px;
					&:checked::before {
						font-size: 22px;
						line-height: 24px;
						width: 24px;
						height: 24px;
					}
				}
			}
			.footer {
				height: 90px;
				width: 600px;
			}
		}
	}
	@media screen and (max-width: 1012px) {
		width: 720px;
		h1 {
			font-size: 44px;
		}
		.form {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
	@media screen and (max-width: 788px) {
		width: 540px;
		h1 {
			font-size: 32px;
		}
		.form {
			font-size: 22px;
			.error {
				width: 600px;
			}

			.wrap {
				margin: 5px 0;
				.fieldName {
					width: 220px;
				}
				.field {
					width: 305px;
					.select {
						min-width: 305px;
					}
				}
			}
			.footer {
				height: 80px;
				width: 540px;
			}
		}
	}
	@media screen and (max-width: 596px) {
		margin: 0;
		min-width: 360px;
		width: 100%;
		padding: 0;

		h1 {
			font-size: 26px;
			text-align: center;
			margin: 10px 0 0;
		}
		.form {
			font-size: 16px;
			justify-content: center;
			display: flex;
			align-items: center;

			.error {
				width: 100%;
				margin: 8px 0 0;
			}
			margin: 0;
			padding: 0;
			.wrap {
				width: 360px;
				height: auto;
				margin: 5px 0;
				.input {
					margin: 0 10px;
					width: 340px;
					input {
						font-size: 16px;
						width: 327px;
						height: 35px;
					}
				}
				.fieldName {
					width: 340px;
					margin: 4px 10px;
					padding: 0;
				}
				.field {
					justify-content: flex-end;
					margin: 0 10px;
					padding: 0;
					width: 340px;
					.select {
						min-width: 340px;
					}
				}
			}
			.footer {
				justify-content: center;
				height: 80px;
				margin: 0;
				width: 100%;
			}
		}
	}
}
