.root :global {
	height: 100px;
	margin: 0 0 40px;

	background-color: orange;
	.container {
		width: 1560px;
		margin: 0 auto;
		padding: 0 20px;
	}

	.logo {
		a {
			position: absolute;
			z-index: 1001;

			width: 140px;
			height: 140px;
			margin-top: 0;
			margin-right: 43px;

			background-color: transparent;
			background-image: url("../../public/img/logo.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: contain;
		}
	}
	h2 {
		line-height: 100px;

		height: 100px;
		margin: 0 0 0 180px;
	}

	@media screen and (max-width: 1620px) {
		.container {
			width: 1140px;
		}
	}

	@media screen and (max-width: 1220px) {
		.container {
			width: 960px;
		}
	}
	@media screen and (max-width: 1012px) {
		.container {
			width: 720px;
		}
	}
	@media screen and (max-width: 788px) {
		.container {
			width: 540px;
		}
	}
	@media screen and (max-width: 596px) {
		margin: 0;
		min-width: 360px;
		.container {
			width: 100%;
			padding: 0;
			h2 {
				margin: 0 0 0 120px;
			}
			.logo {
				a {
					width: 100px;
					height: 100px;
					margin-top: 0;
					margin-right: 20px;
				}
			}
		}
	}
}
